## <summary>rtorrent torrent client</summary>

#######################################
## <summary>
## 	Role access for rtorrent
##      Misssing parts
## </summary>
## <param name="user_role">
##      <summary>
##      The role associated with the user domain.
##      </summary>
## </param>
## <param name="user_domain">
##      <summary>
##      The user domain.
##      </summary>
## </param>
#
interface(`rtorrent_role_missing',`
	gen_require(`
		type rtorrent_download_t;
	')

	manage_dirs_pattern($2, rtorrent_download_t, rtorrent_download_t)
	manage_files_pattern($2, rtorrent_download_t, rtorrent_download_t)
')

#######################################
## <summary>
##      Administer the rtorrent application.
##      Misssing parts
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
## <param name="role">
##      <summary>
##      Role allowed access.
##      </summary>
## </param>
#
interface(`rtorrent_admin_missing',`
	gen_require(`
		type rtorrent_t, rtorrent_session_t;
	')

	allow $1 rtorrent_t:process ptrace;

	manage_files_pattern($1, rtorrent_session_t, rtorrent_session_t)
	manage_dirs_pattern($1, rtorrent_session_t, rtorrent_session_t)

	rtorrent_role($2, $1)
')
