policy_module(rss2email, 1.0.0)

########################################
#
# Declarations
#

type rss2email_t;
type rss2email_exec_t;
userdom_user_application_domain(rss2email_t, rss2email_exec_t)

type rss2email_home_t;
userdom_user_home_content(rss2email_home_t)

type rss2email_config_t;
userdom_user_home_content(rss2email_config_t)

type rss2email_config_pyc_t;
userdom_user_home_content(rss2email_config_pyc_t)

type rss2email_feed_t;
userdom_user_home_content(rss2email_feed_t)

########################################
#
# rss2email local policy
#

allow rss2email_t self:fifo_file rw_fifo_file_perms;
allow rss2email_t self:unix_stream_socket create_stream_socket_perms;

getattr_files_pattern(rss2email_t, rss2email_home_t, rss2email_config_t)
read_files_pattern(rss2email_t, rss2email_home_t, rss2email_config_t)

manage_files_pattern(rss2email_t, rss2email_home_t, rss2email_config_pyc_t)
filetrans_pattern(rss2email_t, rss2email_home_t, rss2email_config_pyc_t, file, "config.pyc")

manage_files_pattern(rss2email_t, rss2email_home_t, rss2email_feed_t)
filetrans_pattern(rss2email_t, rss2email_home_t, rss2email_feed_t, file, "feeds.dat")
filetrans_pattern(rss2email_t, rss2email_home_t, rss2email_feed_t, file, "feeds.dat.tmp")
mta_system_content(rss2email_feed_t)

corecmd_exec_bin(rss2email_t)
corecmd_exec_shell(rss2email_t)
corenet_tcp_connect_http_port(rss2email_t)
cron_rw_pipes(rss2email_t)
cron_read_pipes(rss2email_t)
cron_use_fds(rss2email_t)
domain_use_interactive_fds(rss2email_t)
files_read_etc_files(rss2email_t)
files_read_usr_files(rss2email_t)
kernel_read_system_state(rss2email_t)
miscfiles_read_localization(rss2email_t)
mta_send_mail(rss2email_t)
sysnet_dns_name_resolve(rss2email_t)
userdom_list_user_home_dirs(rss2email_t)

########################################
#
# To be moved
#

gen_require(`
	role user_r, staff_r;
	type user_t, staff_t, cronjob_t;
')
rss2email_role(user_r, user_t)
rss2email_role(staff_r, staff_t)
rss2email_exec(cronjob_t)
