## <summary>rss2email policy</summary>

#######################################
## <summary>
##      Role access for rss2email
## </summary>
## <param name="user_role">
##      <summary>
##      The role associated with the user domain.
##      </summary>
## </param>
## <param name="user_domain">
##      <summary>
##      The user domain.
##      </summary>
## </param>
#
interface(`rss2email_role',`
	gen_require(`
		type rss2email_t, rss2email_exec_t, rss2email_home_t, rss2email_config_t, rss2email_feed_t, system_mail_t;
	')

	role $1 types rss2email_t;

	domtrans_pattern($2, rss2email_exec_t, rss2email_t)

	role $1 types system_mail_t;

	allow $2 rss2email_t:process signal_perms;

	manage_dirs_pattern($2, rss2email_home_t, rss2email_home_t)
	manage_files_pattern($2, rss2email_config_t, rss2email_config_t)

	read_files_pattern($2, rss2email_feed_t, rss2email_feed_t)

	ps_process_pattern($2, rss2email_t)
')
