policy_module(yubisql_pam, 1.0.0)

########################################
#
# Declarations
#


## <desc>
## <p>
## Allow sshd to use yubisql_pam
## </p>
## </desc>
gen_tunable(sshd_use_yubisql_pam, false)

## <desc>
## <p>
## Allow various role elevation binaries to use yubisql_pam (newrole, sudo, su, run_init ...)
## </p>
## </desc>
gen_tunable(role_elevation_use_yubisql_pam, true)

type yubisql_pam_manage_t;
type yubisql_pam_manage_exec_t;

domain_type(yubisql_pam_manage_t)
domain_entry_file(yubisql_pam_manage_t, yubisql_pam_manage_exec_t)

type yubisql_pam_check_t;
type yubisql_pam_check_exec_t;
application_domain(yubisql_pam_check_t, yubisql_pam_check_exec_t)

type yubisql_pam_db_t;
files_auth_file(yubisql_pam_db_t);

########################################
#
# yubisql_pam local policy
#


domain_use_interactive_fds(yubisql_pam_manage_t)
domain_use_interactive_fds(yubisql_pam_check_t)
userdom_use_user_ptys(yubisql_pam_manage_t)
userdom_use_user_ptys(yubisql_pam_check_t)

search_dirs_pattern(yubisql_pam_manage_t, yubisql_pam_db_t, yubisql_pam_db_t)
search_dirs_pattern(yubisql_pam_check_t, yubisql_pam_db_t, yubisql_pam_db_t)
manage_files_pattern(yubisql_pam_manage_t, yubisql_pam_db_t, yubisql_pam_db_t)
manage_files_pattern(yubisql_pam_check_t, yubisql_pam_db_t, yubisql_pam_db_t)

files_dontaudit_read_etc_files(yubisql_pam_manage_t)
files_dontaudit_read_etc_files(yubisql_pam_check_t)

########################################
#
# Should be moved to the correct modules
#

require {
  type user_t;
  role user_r;
  type staff_t;
  role staff_r;
  type sysadm_t;
  role sysadm_r;
  role sysadm_r;
}

yubisql_pam_admin(sysadm_t, sysadm_r)
yubisql_pam_role(user_r, user_t)
yubisql_pam_role(staff_r, staff_t)
role system_r types yubisql_pam_check_t;

tunable_policy(`role_elevation_use_yubisql_pam',`
	gen_require(`
		type newrole_t, newrole_t, run_init_t, sysadm_sudo_t, staff_su_t;
	')
	yubisql_pam_system(newrole_t)
	yubisql_pam_system(run_init_t)
	yubisql_pam_system(sysadm_sudo_t)
	yubisql_pam_system(staff_su_t)
')

tunable_policy(`sshd_use_yubisql_pam',`
	gen_require(`
		type sshd_t;
	')
	yubisql_pam_system(sshd_t)
')
