## <summary>Yubikey sql pam module</summary>

#######################################
## <summary>
## 	System access for yubisql_pam
## </summary>
## <param name="system_domain">
##      <summary>
##      The System domain.
##      </summary>
## </param>
#
interface(`yubisql_pam_system',`
	gen_require(`
		type yubisql_pam_check_t, yubisql_pam_check_exec_t;
	')

	domtrans_pattern($1, yubisql_pam_check_exec_t, yubisql_pam_check_t)
	allow $1 yubisql_pam_manage_t:process signal_perms;
')

#######################################
## <summary>
## 	Role access for yubisql_pam
## </summary>
## <param name="user_role">
##      <summary>
##      The role associated with the user domain.
##      </summary>
## </param>
## <param name="user_domain">
##      <summary>
##      The user domain.
##      </summary>
## </param>
#
interface(`yubisql_pam_role',`
	gen_require(`
		type yubisql_pam_check_t, yubisql_pam_check_exec_t;
	')

	role $1 types yubisql_pam_check_t;

	domtrans_pattern($2, yubisql_pam_check_exec_t, yubisql_pam_check_t)

	allow $2 yubisql_pam_check_t:process signal_perms;

	ps_process_pattern($2, yubisql_pam_check_t)
')

#######################################
## <summary>
##      Administer the yubisql_pam application.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
## <param name="role">
##      <summary>
##      Role allowed access.
##      </summary>
## </param>
#
interface(`yubisql_pam_admin',`
        gen_require(`
                type yubisql_pam_manage_t, yubisql_pam_manage_exec_t;
        ')

        role $2 types yubisql_pam_manage_t;

        domtrans_pattern($1, yubisql_pam_manage_exec_t, yubisql_pam_manage_t)

        allow $1 yubisql_pam_manage_t:process signal_perms;

        ps_process_pattern($1, yubisql_pam_manage_t)

	yubisql_pam_role($2, $1)
')
